
*.7z
*.docx
*.xml
*.doc
*.rels
*.zip_
*.dat
*.zip
setup.py
.vscode/launch.json
Output/template.fodg
*.ui
.vscode/settings.json
*.fodg
*._dat
*.exe
*.ico
*.txt
ToCompile/_compile.bat
ToCompile/AKE_compile.bat
ToCompile/FR_compile.bat
__pycache__/Gui.cpython-36.pyc
__pycache__/MainWND.cpython-36.pyc
